<body>
  <section class="full-height about-background-image">
      <section class="panel">
      Party Foul is an app that gamifies the network building process.
      <br><br>
      As a guest, you can rate fellow event attendees as well as the event itself.  Descriptions for both the party foul and the party snap are encouraged.
      <br><br>
      As an event host, you can rate your guests.  You can give as many party fouls and party snaps as you would like.
      <br><br>
      <b>Party Snap:</b><br>
      <p>At an event, someone always meets one or two people who are the "life of the party" or the "best contact" at an event. Encouraging descriptions allows event attendees to focus on their best contacts and why they are amazing.</p>
      <b>Party Foul:</b><br>
      <p>At an event, there usually is one or two people who say or do inappropriate things that deter you from wanting to attend the again.  Keeping a track of who these people are will help an event planner and event attendee know who to avoid when planning or attending future events.</p>
      <b>Happy networking!</b><br><br>
      <div class="floating-text">
        <div class="text-center">
          <a href="<%= about_michelle_path %>" class="button">About PartyFoul's Creator</a>
        </div>
      </div>
      <div class="floating-text">
        <!-- <div class="medium-7 large-6 columns"> -->
        <div class="text-center">
          <a href="<%= events_path %>" class="button">Browse Events</a>
        </div>
      </div>
    </div>
  </div>
      </section>
    </section>
  </body>
