<body>
  <div class="full-height bg-img">
    <div class="row">
        <div class="small-4 columns">
          <div class="item-wrapper">
            <div class="img-wrapper">
              <a class="button expand add-to-cart">Michelle Lampa</a>
              <a href="https://www.linkedin.com/in/michellelampa"><%= image_tag "Michelle_Lampa_img.jpg" %></a>
            </div>
            <a href="https://www.linkedin.com/in/michellelampa"><h3>Connect with<br>Michelle Lampa</h3></a>
            <p>With a strong background building strategies, companies, and initiatives from scratch, I wanted to build something new using technical skills.
              Feel free to dive deeper into my app. <br><br>You can also check out our group project: <a href="jumper-app.herokupapp.com">Jumper</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
