<div class="full-height bg-img">
<div class="row">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
    <div class="floating-text">
      <h4>Examples of Party Fouls:</h4>
      <br>
      <li>Spilling a beverage on a speaker</li>
      <li>Yelling profanities</li>
    </div>
    <div class="floating-text">
      <h4>Examples of Party Snaps:</h4>
      <br>
      <li>Introducing you to the best contact of your night</li>
      <li>Great conversationalist</li> 
    </div>
  </div>
</div>
</div>
