<body>
  <section class="full-height background-image">
      <section class="panel">
          <p class="party-foul-text">Networking and building a good reputation is important these days.</p>
          <p class="party-foul-text">Party Foul is an app that gamifies the event planning process.</p>
      </section>
      <div class="text-center">
        <a href="<%= about_path %>" class="button">PartyFoul Rules</a>
      </div>

  </section>
</body>
