<div class="full-height bg-img">
<div class="row">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
    <div class="floating-text">
      <h4>Networking and building a good reputation is important these days.</h4>
      <br>
      <h4>Party Foul is an app that gamifies the event planning process.</h4>
    </div>
  </div>
</div>
</div>
    <div class="text-center">
      <a href="<%= new_event_path %>" class="button">Add a New Event</a>
    </div>
    <div class="text-center">
      <a href="<%= events_path %>" class="button">All Events</a>
    </div>
