<body>
<div class="full-height bg-img">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
      <div class="floating-text">
        <!-- <div class="medium-7 large-6 columns"> -->
        <p class="party-foul-text">Networking and building a good reputation is important these days.</p>
        <p class="party-foul-text">Party Foul is an app that gamifies the event planning process.</p>
        <div class="text-center">
          <a href="<%= new_event_path %>" class="button">Add a New Event</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
