<body>
  <section class="full-height background-image">
      <section class="panel home">
          <p class="party-foul-text">Networking and building a good reputation are important these days.</p>
          <p class="party-foul-text">Party Foul is an app that gamifies the network building process.</p>
      </section>
      <div class="text-center">
        <a href="<%= about_path %>" class="button">PartyFoul Rules</a>
      </div>
      <div class="floating-text">
        <!-- <div class="medium-7 large-6 columns"> -->
        <div class="text-center">
          <a href="<%= events_path %>" class="button">Browse Events</a>
        </div>
      </div>


  </section>
</body>
