<body>
<div class="title-header show-footer">
  <h1><%= @event.event_name %></h1>
  <p><%= @event.description %></p>

  <div class="text-center">
    <a href="<%= events_path %>" class="button">All Events</a>
  </div>

</div>
</body>
